* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p, .ns-review-group {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0.9rem;
}

ul {
  padding: 0;
}

.font-small {
  font-size: 14px;
}

.font-xs {
  font-size: 13px;
}

.bg-green {
  background-color: #e6f3e6;
}

.bg-gray {
  background-color: #f8f9fa;
}

.bg-beige {
  background-color: #fbf7f2;
}

.bg-dark-beige {
  background-color: #f7f1eb;
}

.color-gray {
  color: #868B94;
}

@media (max-width: 767.9px) {
  .md-bb {
    border-bottom: 1px solid #eaebee;
  }
}

/* navigation */

.navdiv {
  position: fixed;
  height: 4rem;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.navbar {
  max-width: 75rem;
  height: 4rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav-con {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: initial;
}

.brand {
  margin-right: 2.5rem;
}

@media (max-width: 767.9px){
  .navdiv {
    height: 3.5rem;
  }

  .navbar {
    height: 3.5rem;
  }
  
  .nav-con {
    justify-content: space-between;
  }

  .brand {
    flex-grow: 1;
  }
}

.navbar-expand-md {
  flex-wrap: wrap;
}

.navbar-expand-md .offcanvas-toggler {
  display: none;
}

@media (max-width: 767.9px){
  #offcanvas-search-toggler {
    display: none;
  }

  .navbar-expand-md .offcanvas-toggler {
    display: block;
  }

  .navbar-toggler-icon {
    width: 1.5rem;
    height: 2rem;
  }
}

.bi-search {
  padding-right: 1rem;
}

/* navigation - offcanvas */

.offcanvas-backdrop.show {
  opacity: 0.45;
}

.offcanvas-toggler {
  padding: 0;
  border: 0;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.65);
  border: 0;
  background-color: transparent;
  transition: box-shadow 0.15s ease-in-out;
}

.offcanvas-toggler:focus {
  box-shadow: none;
}

.offcanvas-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #eaebee;
}

.offcanvas.offcanvas-top {
  border: 0;
}

@media (max-width: 767.9px) {
  .offcanvas-header {
    padding: 0.8rem 1rem 0.9rem 1rem;
  }

  .offcanvas-header .bi-search {
    padding-right: 0.8rem;
  }

  .offcanvas.offcanvas-top {
    height: 20rem;
  }
}

#offcanvasSearch .offcanvas-header {
  width: 100%;
  display: flex;
  border: 0;
  padding: 0.5rem 1rem;
}


#offcanvasSearch {
  height: 16rem;
}

.offcanvas-header .close {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  padding-right: 0;
}

.btn-close {
  margin-right: 1rem;
  color: #212124;
}

.offcanvas-header input {
  flex-grow: 1;
  font-size: 0.9rem;
}

.offcanvas-header .offcanvas-toggler {
  margin-left: auto;
}

.offcanvs-keyword-recommended {
  font-size: 0.875rem;
  font-weight: bold;
  color: #868b94;
}

.offcanvas-keyword-group {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offcanvas-keyword {
  width: 50%;
  margin: 0;
  padding: 0.95rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid #eaebee;
}

#offcanvasSearch .offcanvas-body {
  flex-direction: column;
  padding: 0.8rem 1rem 0 1rem;
}

.offcanvas-body {
  display: flex;
  padding: 0 0.5rem;
}

#offcanvasMenu, .ns-banner-text {
  flex-grow: 1;
}

@media (min-width: 767.9px) and (max-width: 992px) {
  #offcanvas-search-toggler {
    display: inline-block !important;
  }

  .navbar-search {
    display: none;
  }
}

.navbar-expand-md .navbar-nav .nav-link, .nav-link, .card-body {
  padding: 0;
}

.navbar-nav {
  flex-wrap: wrap;
}

.nav-item {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 767.9px) {
 .navbar-nav {
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem 0;
  }

  .nav-item {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0.6rem;
  }
}

.nav-link {
  color: #4d5159 !important;
  margin-right: 1.8rem;
  line-height: 1.3;
}

.nav-link:hover {
  color: #868b94 !important;
}

.nav-link.active {
  color: #ff6f0f !important;
}

input, .form-control {
  width: 288px;
  height: 40px;
  border: 0;
  background-color: #F2F3F6;
}

input {
  border-radius: 7px;
  padding-left: 12px;
  margin-right: 12px;
}

input:focus {
  outline: none;
}

.chat {
  border: #d1d3d8 solid 1px;
  font-weight: bold;
  border-radius: 4.4px;
  min-width: 6.2rem;
}

.chat:hover {
  border: #d1d3d8 solid 1px;
  background-color: #f2f3f6;
}

/* main - section 1*/

.main {
  padding-top: 4rem;
}

@media (max-width: 767.9px) {
  .main {
    padding-top: 3.5rem;
  }
}

.home-first-content, .home-mid-content {
  width: 100%;
}

.home-first-content {
  justify-content: center;
  flex-shrink: 1;
  overflow: hidden;
  height: 726px;
}

.home-first .home-image-top {
  align-self: flex-end;
}

.home-image-top {
  min-width: 813px;
  max-width: 813px;
}

.home-text {
  min-width: 333px;
  padding-top: 14rem;
}

.home-first .home-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.home-title {
  font-weight: 600;
  line-height: 1.3;
}

.home-subtext, .home-title {
  margin-bottom: 28px;
}

@media (max-width: 767.9px) {
  .home-first-content {
    height: auto;
  }

  .home-image-top {
    max-width: 328px;
    min-width: 328px;
    margin: 0 auto;
  }

  .home-text {
    padding-top: 0;
    text-align: center;
  }

  .home-first .home-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .home-title {
    font-weight: 600;
    line-height: 1.3;
    margin: 2.4rem 0 1rem;
  }

  .home-title, .home-popular-title {
    font-size: 1.8rem;
  }

  .home-subtext {
    margin-bottom: 1.2rem;
  }
}

.home-main-image-01, .home-main-image-02 {
  overflow: hidden;
}


.home-image-top img, .home-main-image-01 img, .home-main-image-02 img, .home-main-image-03 img {
  width: 100%;
  height: auto;
}

/* main - section 2, 4 */

.home-mid {
  padding: 4rem 0;
}

.home-mid-content {
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767.9px) {
  .home-mid {
    width: 100%;
    padding: 3.8rem 0 2rem;
  }

  .home-mid-content {
    text-align: center;
  }

  .home-mid .home-image-top {
    margin: 0;
  }
}

.home-main-image-01 {
  width: 532px;
}

.home-main-image-02 {
  width: 546px;
}

.home-main-image-03 {
  width: 526px;
}

@media (max-width: 767.9px) {
  .home-main-image-02, .home-main-image-03 {
    width: 328px;
    height: auto;
  }
}

.home-mid-content, .home-popular-content, .home-topic {
  max-width: 1024px;
}

.home-button {
  padding: 14px 24px;
  font-size: 18px;
}

@media (max-width: 767.9px) {
  .home-button {
    padding: 10px 20px;
  }
}

.home-button, .footer-button, .footer-button:hover {
  background-color: #f1f3f5;
  font-weight: bold;
}

.home-button:hover {
  background-color: #e9ecef;
}

/* main - section 3 */

.home-town {
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}

.home-town-item {
  max-width: 8.6rem;
  margin-right: 3rem;
}

/* main - section 5 */

.home-popular-title {
  font-weight: bold;
  margin: 4rem auto 5rem;
}

.home-popular-content {
  margin: 4rem auto 5rem;
}

.row-cols-md-4>* {
  flex: 0 0 auto;
  width: calc(25% - 44px);
}

.col {
  padding: 0;
  margin-right: 52px;
  margin-bottom: 3.5rem;
}

@media (max-width: 767.9px) {
  .home-popular-title {
    margin: 4rem auto 3rem;
  }

  .home-popular-content {
    margin: 4rem auto 2rem;
  }

  .row-cols-2>* {
  width: 45%;
  }

  .col {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-body {
  margin-top: 1rem;
}

@media (max-width: 767.9px) {
  .card-body {
    margin-top: 0.5rem;
  }
}

.card-img-top {
  overflow: hidden;
  border-radius: 12px;
}

.card-title, .card-price, .card-place {
  margin-bottom: 0.2rem;
}

.card-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-price, .jp-nearby-pay {
  font-weight: bold;
}

.card-number, .card-place {
  font-size: 0.815rem;
}

@media (max-width: 767.9px) {
  .card-title, .card-price, .ns-review-store-name, .jp-nearby-pay {
    font-size: 0.875rem;
  }

  .card-title {
    margin-top: 0.5rem;
  }

  .card-place {
    font-size: 0.75rem;
  }
}

.card-number {
  color: #868e96;
}

/* main - section 6 */

.home-topic {
  margin: 2.5rem auto;
}

.home-topic-keyword {
  text-decoration: underline;
}

.home-topic-list {
  margin-left: 4rem;
  justify-content: space-between;
}

@media (max-width: 767.9px) {
  .home-topic {
    margin: 1.5rem auto;
  }

  .home-topic-list {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.home-topic-list, .ns-store, .ns-review {
  display: flex;
  flex-wrap: wrap;
}

.home-topic-link:hover, .footer-bottom-link:hover {
  text-decoration: underline;
}

/* main-footer */

.home-footer, .footer-bottom, .bt {
  border-top: 1px solid #eaebee;
}

.home-footer {
  padding: 0 1rem;
}

.footer-content, .jobs-first-content, .jobs-mid {
  max-width: 48rem;
  margin: 0 auto;
}

.footer-content {
  padding: 0;
}

.footer-top, .footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  padding: 2.6rem 1rem;
}

.footer-list {
  margin-right: 3rem;
}

.footer-list, .ns-banner-text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.9px) {
  .footer-top, .ns-footer-top {
    padding: 2rem 1rem;
    flex-direction: column-reverse;
  }

  .footer-list-group {
    justify-content: space-around;
    margin-top: 1.5rem;
  }

  .footer-list {
    width: 30%;
  }
  
}

.footer-item {
  margin: 0.875rem 0;
}

.footer-top-link {
  font-size: 0.875rem;
}

@media (max-width: 767.9px) {
  .footer-top-link {
    font-size: 0.825rem;
  }
}


.footer-button-group, .ns-banner-content, .jobs-mid-banner-content {
  display: flex;
}

.footer-download {
  padding-top: 0.9rem;
}

.footer-button {
  width: 147px;
  height: 44px;
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button:hover {
  opacity: 0.5;
}

.footer-bottom {
  align-items: flex-start;
  padding-top: 1.4rem;
  padding-bottom: 6.25rem;
  color: #868B94;
}

.footer-sns {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 767.9px) {
  .footer-bottom {
    flex-direction: column;
  }

  .footer-sns {
    margin-top: 1.5rem;
  }
}

.footer-sns .bi {
  font-size: 22px;
}

.bi:hover, .chat:hover {
  opacity: 0.7;
}

.footer-sns a {
  margin-right: 0.5rem;
  line-height: 1;
}

.dropdown-toggle {
  padding: 0;
}

.dropdown-toggle::after {
  border: 0;
}

.footer-info, .ns-review-group {
  margin-bottom: 0.8rem;
}

.footer-info{
  font-size: 0.825rem;
}

@media (max-width: 767.9px) {
  .footer-info {
    font-size: 0.75rem;
  }
}

.footer-terms {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom-link {
  margin-right: 0.8rem;
  font-size: 0.825rem;
  font-weight: bold;
  color: #868b94;
}

.personal {
  color: #393a40;
}

@media (max-width: 767.9px) {
  .footer-bottom-link {
    font-size: 0.725rem;
  }

  .footer-app {
    margin-left: 1.5rem;
  }

  .footer-info {
    font-size: 0.75rem;
  }
}

/* main-popup */
.popup {
  width: 100%;
  height: 20.2rem;
  position: fixed;
  bottom: 0;
}

.popup-content {
  background-color: rgba(255, 126, 54, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  text-align: center;
}

.popup-close {
  position: absolute;
  z-index: 1000;
  top: 1rem;
  right: 0;
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
}

.popup-logo {
  width: 66px;
  height: 66px;
  margin: 1.2rem auto;
}

.popup-logo .image {
  border-radius: 0.65rem; 
}

.popup-text {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.popup-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.popup-sub {
  font-family: 'Museo Sans Rounded', sans-serif;
  font-size: 1.6rem;
  margin-top: 0.4rem;
}

.popup-button {
  display: flex;
  height: 2.75rem;
  margin: 0 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 36, 1);
  border-radius: 0.6rem;
}

.popup-link {
  color: white;
  font-size: 1.05rem;
}

/* nearby_store page */
/* ns-first */
.ns-first {
  height: 20rem;
}

.ns-first .ns-content {
  padding: 3.2rem 0rem 4.2rem;
}

.ns-first .ns-content, .jobs-first {
  position: relative;
  overflow: hidden;
}

.ns-title, .jobs-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.ns-first-image {
  right: 0;
  width: 453px; 
  height: 260px;
}

@media (max-width: 767.9px) {
  .ns-first {
    height: 18.5rem;
  }

  .ns-first .ns-content {
    padding: 1.5rem 0.5rem 1rem;
  }

  .ns-title, .jobs-title {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .ns-first-image {
    width: 293px; 
    height: 168px;
    left: 50%;
    transform: translate(-42%);
  }
}

.ns-first-image, .jobs-first-image, .realty-first-image, .car-first-image {
  position: absolute;
  bottom: 0;
}

.ns-text, .jobs-text {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.3;
}

/* ns-mid */

.ns-content {
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  padding: 3.2rem 1rem 4.2rem;
}

@media (max-width: 767.9px){
  .ns-content {
    padding: 1.5rem 1rem 1rem;
  }
}

.ns-mid {
  margin: 1rem 0;
}

.ns-image, .jobs-image, .image {
  width: 100%;
}

.ns-mid .ns-title {
  text-align: center;
  margin-bottom: 1rem;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-x::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

.ns-mid-group, .ns-store-group {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.ns-mid-group li {
  margin: 0 0.3rem;
}

.ns-mid-button {
  border: 1px solid #eaebee;
  border-radius: 25px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

@media (max-width: 767.9px) {
  .ns-mid-button {
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }
}

.ns-mid-button.active {
  border-color: #4d5159;
  background-color: #4d5159;
  color: white;
}

.ns-mid-button.active:hover {
  background-color: #4d5159;
}

.ns-mid-button:hover {
  background-color: #f2f3f6;
}

.thumbnail-image {
  margin-right: 1rem;
  border: 1px solid #0000000d;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.ns-store-name {
  font-size: 1.125rem;
}

.ns-store-item {
  width: calc(50% - 32px);
}

.ns-review-group {
  width: calc(50% - 8px);
}

@media (max-width: 767.9px) {
  .thumbnail-image {
    width: 4rem;
    height: 4rem;
  }

  .ns-store-name {
    font-size: 1rem;
  }

  .ns-store-info {
    font-size: 0.9rem;
  }

  .ns-store-item, .ns-review-group {
    width: 100%;
  }
}

.ns-store-info, .ns-review-detail {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.ns-store-name, .ns-store-info-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: flex-end;
}

.ns-store-info-title {
  display: flex;
}

.ns-store-info-group {
  width: 100%;
  overflow: hidden;
}

.ns-store-group {
  padding: 1.5rem 1rem;
  line-height: 1.3;
  transition: background-color 0.15s;
}

.ns-store-group:hover {
  background-color: #f2f3f6;
}

.thumbnail-image {
  margin-right: 1.5rem;
}

.ns-store-name, .ns-user-id {
  font-weight: bold;
}

.ns-store-place, .ns-text-info, .ns-store-review {
  color: #868B94;
}

.ns-store-place {
  font-size: 0.875rem;
  margin-left: 0.3rem;
}

.ns-store-review {
  font-size: 0.8rem;
  white-space: nowrap;
}

/* ns-mid-bottom */

.ns-mid-bottom {
  margin-top: 4.6rem;
}

.ns-mid-bottom .ns-title {
  margin-bottom: 2rem;
}

@media (max-width: 767.9px) {
  .ns-mid-bottom {
    margin-top: 6rem;
  }

  .ns-mid-bottom .ns-title {
    margin-bottom: 1.5rem;
  }
}

.ns-user, .ns-review-store-info {
  padding-left: 0.625rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.9px) {
  .ns-user-id {
    font-size: 0.86rem;
  }
}

.ns-badge, .jobs-button {
  background-color: #ff6f0f;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  line-height: 1.5;
}

.ns-badge {
  padding: 0.125rem 0.25rem;
  margin-left: 0.3rem;
  font-size: 0.75rem;
}

@media (max-width: 767.9px) {
  .ns-badge {
    font-size: 0.6rem;
  }
}

.ns-review-item, .ns-review-store {
  border: 1px solid #eaebee;
  border-radius: 7px;
}

.ns-review-item {
  padding: 1rem;
}

.ns-user-wrapper {
  display: flex;
  align-items: center;
}

.ns-review-thumbnail {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  overflow: hidden;
}

.ns-review-store {
  display: flex;
  margin-top: 1rem;
}

.ns-review-store-image {
  width: 4rem;
  height: 4rem;
}

.ns-review-store-info {
  justify-content: center;
}

.ns-text-info {
  font-size: 0.8rem;
}

.ns-review-detail {
  padding-top: 0.2rem;
}

@media (max-width: 767.9px) {
  .ns-text-info {
    font-size: 0.75rem;
  }
  
  .ns-review-detail {
    font-size: 0.9rem;
    padding-top: 0.4rem;
  }
}

/* ns-banner */

.ns-banner {
  background-color: #f7be6824;
  border-radius: 7px;
  margin-top: 3.8rem;
  padding: 1.5rem 1.8rem;
}

.ns-banner-text {
  justify-content: center;
  padding-left: 2rem;
}

.ns-banner-text h5 {
  font-weight: bold;
}

.ns-banner .ns-badge {
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 767.9px) {
  .ns-banner {
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding: 1.8rem 1.5rem;
  }

  .ns-banner-text {
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 0;
    font-weight: bold;
  }

  .ns-banner-text, .ns-banner-text h5 {
    font-size: 1rem;
    margin: 0;
  }

  .ns-banner .ns-badge {
    margin: 0;
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }
  
}

/* ns-footer */

.ns-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.ns-footer-list {
  margin-bottom: 0;
  margin-right: 2.8rem;
}

@media (max-width: 767.9px) {
  .ns-footer-list-group {
    margin-top: 0.5rem;
  }
  
  .ns-footer-list {
    margin-right: 1rem;
    width: 26%;
  }
}

.ns-footer-item {
  margin: 0.75rem 0;
}


/* jobs page */
/* jobs-first */

.jobs-first-bg {
  background-color: #ffe2d2;
}

.jobs-first-content {
  height: 19.5rem;
  padding-top: 3rem;
}

.jobs-first-image, .realty-first-image, .car-first-image {
  left: 50%;
  right: 0;
  width: 603px;
  overflow: hidden;
}

@media (max-width: 767.9px) {
  .jobs-first-content {
    padding: 1.5rem 1rem;
    height: 18.5rem;
  }

  .jobs-first-image, .realty-first-image, .car-first-image {
    width: 469px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-40%);
  }
}

/* jobs-mid */

.jobs-mid {
  padding-bottom: 5rem;
}

@media (max-width: 767.9px) {
  .jobs-mid {
    padding: 0 1rem 2.5rem 1rem;
  }
}

.jobs-mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jobs-mid-item-link {
  width: 48%;
}

.jobs-mid-item {
  display: flex;
  padding: 1.2rem 0;
}

.jobs-mid-item-link {
  display: flex;
}

.jobs-mid h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3.6rem 0 2.8rem;
}

.jobs-mid-image {
  min-width: 6.8rem;
  min-height: 6.8rem;
  max-width: 6.8rem;
  max-height: 6.8rem;
}

@media (max-width: 767.9px) {
  .jobs-mid-item-link {
    width: 100%;
  }

  .jobs-mid-item {
    padding: 1rem 0;
  }

  .jobs-mid h2 {
    font-size: 1.25rem;
    margin: 2.5rem 0 1.6rem;
  }

  .jobs-mid-image {
    min-width: 6rem;
    min-height: 6rem;
    max-width: 6rem;
    max-height: 6rem;
  }
}

.jobs-mid-image .jobs-image {
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}

.jobs-mid-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.jobs-mid-item-title {
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobs-mid-item-place {
  color: #868b94;
  margin-bottom: 0.2rem;
  font-size: 0.875rem;
}

.jobs-mid-item-pay {
  font-weight: bold;
  font-size: 1rem;
}


@media (max-width: 767.9px) {
  .jobs-mid-item-title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    line-height: 1.3;
  }

  .jobs-mid-item-place {
    font-size: 0.825rem;
  }

  .jobs-mid-item-pay {
    font-size: 0.875rem;
  }
}

/* jobs-mid-banner */

.jobs-banner {
  border-radius: 0.4rem;
  display: flex;
  padding: 1.9rem 1.5rem 1.9rem 2rem;
  margin: 2.8rem 0 3.5rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767.9px) {
  .jobs-banner {
    padding: 1.5rem;
    margin: 2rem 0 3rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.jobs-mid-banner-bg {
  background-color: #009ceb1a;
}

.jobs-bottom-banner-bg {
  background-color: #ff6f0f24;
}

.jobs-mid-banner-content {
  align-items: center;
}

.jobs-mid-banner-image {
  width: 64px;
  height: 64px;
  margin-right: 1.5rem;
}

.jobs-banner-text {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.3;
}

.jobs-button {
  border: 0;
  border-radius: 0.3rem;
  padding: 0.6rem;
  font-size: 0.875rem;
}


@media (max-width: 767.9px) {
  .jobs-banner-text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .jobs-button {
    margin: 0.8rem 0 0;
    font-size: 0.7rem;
  }
}

.jobs-bottom-banner {
  background-color: #ff6f0f24;
  padding: 1.8rem 1.5rem 1.8rem 2rem;
  margin: 1.7rem 0 3.5rem;
}

.jobs-bottom-banner-image {
  width: 54px;
  margin-right: 1.8rem;
}

/* realty page */
/* realty-first */
.realty-bg {
  background-color: #d2edfa;
}

.realty-first-image {
  width: 30.3rem;
  height: 16rem;
  bottom: 0.8rem;
}

@media (max-width: 767.9px) {
  .realty-first-image {
    width: 18.5rem;
    height: auto;
    bottom: 0;
  }
}

.realty-banner-image {
  width: 4.5rem;
  margin-right: 1.5rem;
}

/* car page */

.car-first-image {
  width: 25rem;
}

@media (max-width: 767.9px) {
  .car-first-image {
    width: 17.5rem;
    height: auto;
  }
}

/* trust page */
/* section1 - trust-top */
.trust-bg {
  background-color: #F8F9FA;
}

.trust-top {
  margin-top: 4.5rem;
  padding-top: 6.5rem;
  overflow: hidden;
}

.trust-top-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.9rem;
}

.trust-top-text {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 3.5rem;
}

.trust-top-image {
  width: 760px;
  height: 363px;
  margin: 0 auto;
}

@media (max-width: 767.9px) {
  .trust-top {
    margin-top: 3.5rem;
    padding-top: 1rem;
  }
  
  .trust-top-title {
    font-size: 2.125rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  .trust-top-text {
    font-size: 1.125rem;
    line-height: 1.6;
  }

  .trust-top-image {
    width: 532px;
    height: 254px;
    margin: 0 auto;
  }
}

.trust-content {
  overflow: hidden;
}

.trust-mid-top {
  width: 980px;
  margin: 0 auto;
  padding-top: 6.5rem;
}

.trust-mid-title {
  font-weight: bold;
  font-size: 2.125rem;
}

.trust-mid-top-content {
  margin: 5.25rem 0;
  display: flex;
  align-items: center;
}

.trust-mid-top-image {
  width: 340px;
  height: 254px;
  margin: 0 3.75rem;
}

.trust-mid-detail {
  width: calc(100% - 340px - 7.5rem - 3.75rem - 1rem);
  margin-left: 4rem;
}

.trust-mid-detail-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

@media (max-width: 767.9px) {
  .trust-mid-top {
    width: auto;
    margin: 0 1.5rem;
    padding-top: 4.8rem;
  }

  .trust-mid-title {
    font-size: 1.5rem;
  }

  .trust-mid-top-content {
    flex-direction: column;
    margin: 4rem 0;
  }

  .trust-mid-top-image {
    width: 312px;
    height: 233px;
    margin: 0 auto;
  }
  
  .trust-mid-detail {
    width: 100%;
    margin: 0;
  }

  .trust-mid-detail-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2.75rem;
    margin-bottom: 1.2rem;
  }
}
.trust-mid-description {
  font-size: 0.975rem;
  line-height: 1.675;
}

.trust-mid-top-content-reverse {
  flex-direction: row-reverse;
}

.trust-mid-detail-left{
  margin-left: 0;
  margin-right: 4rem;
}

.trust-link {
  color: #FF8A3D;
  margin-top: 1rem;
}

.trust-mid-bottom {
  padding-top: 6.25rem;
}

.trust-mid-bottom .trust-mid-title {
  width: 980px;
  margin: 0 auto; 
}

.trust-mid-bottom-container {
  width: 980px;
  margin: 5rem auto 0;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trust-mid-bottom-content {
  width: 330px;
  margin-bottom: 5rem;
}

.trust-mid-bottom-image {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
}

@media (max-width: 767.9px) {
  .trust-mid-bottom {
    padding: 0 1.5rem;
  }

  .trust-mid-bottom .trust-mid-title {
    width: 100%;
    margin: 0;
    padding-top: 4.75rem;
  }

  .trust-mid-bottom-container {
    width: 100%;
    margin-top: 4.25rem;
  }

  .trust-mid-bottom-content {
    width: 100%;
    margin-bottom: 4rem;
  }

  .trust-mid-bottom-image {
    margin: 0 auto;
  }

  .trust-mid-bottom-container .trust-mid-bottom-content .trust-mid-detail-title {
    margin-top: 1.4rem;
  }
}

.trust-mid-bottom-content-right {
  margin-left: 7rem;
}

/* top-keywords page */

.keywords-content {
  max-width: 980px;
  margin: 4.6rem auto 0;
}

.keywords-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
}

.keywords-list {
  width: 414px;
  margin: 0 auto;
  padding: 0 0 5.5rem 0;
}

.keywords-list-item {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  padding: 0.55em 1rem;
  margin: 0;
}

@media(max-width: 767.9px) {
  .keywords-content {
    margin: 4rem auto 0;
  }

  .keywords-title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .keywords-list {
    width: 100%;
    padding: 0 1rem 3.5rem;
  }

  .keywords-list-item {
    padding: 0.9rem 0.5rem;
  }
}

.keywords-list-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.keywords-list-item:hover .keywords-list-text {
  text-decoration: underline;
}

.keywords-list-number {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  font-weight: bold;
  font-style: italic;
  margin-right: 1.5rem;
  line-height: 1;
  width: 22px;
  text-align: right;
}

@media(max-width: 767.9px) {
  .keywords-list-number {
    margin-right: 0.8rem;
  }
}

.keywords-list-text {
  font-size: 1.06rem;
}

.up, .down {
  margin-right: 0.2rem;
  font-size: 1.1rem;
}

.up {
  color: #e03131;
}

.down {
  color: #186ec0;
  vertical-align: bottom;
}

.change-num {
  vertical-align: middle;
}

.up, .change-num {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* search page */

.search-container {
  margin-top: 4rem;
  padding: 1.8rem 0;
  background-color: #f8f9fa;
}

.search-wrap {
  width: 50rem;
  border: 1px solid #e9ecef;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 0 auto 1.4rem auto;
}

.search-content {
  padding: 0 2.5rem;
}

.search-title {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 1.2rem 0;
}

.search-market-item {
  display: inline-block;
  position: relative;
  width: 217px;
  margin: 0 1.8rem 2.5rem 0;
}

.search-item-hr {
  border-top: 1px solid #e9ecef;
  opacity: 1;
  margin: 0;
}

.search-market-item .search-item-hr {
  display: none;
}

.search-image {
  height: 160px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.search-image .image {
  transform: translate(0, -13%);
}

.search-market-title {
  display: block;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.5rem;
}

@media (max-width: 767.9px) {
  .search-market-title {
    white-space: break-spaces;
  }
}

.search-market-description {
  display: none;
}

.search-item-place {
  color: #868e96;
  font-size: 0.875rem;
}

@media (max-width: 767.9px) {
  .search-container {
    margin-top: 3.5rem;
    padding: 0;
  }

  .search-wrap {
    width: 100%;
    border: 0;
    margin: 0;
  }

  .search-content {
    padding: 0;
  }

  .search-title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
  }

  .search-market-item {
    width: 100%;
    margin: 0;
  }

  .search-item-hr {
    display: block;
    margin: 0 1rem;
  }

  .search-market-link {
    display: flex;
    margin: 1rem;
  }

  .search-image {
    height: 110px;
    width: 110px;
    flex-shrink: 0;
    margin-right: 0.9rem;
  }

  .search-image .image {
    transform: translate(0, 0);
  }

  .search-market-title-group {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    margin-top: 0.5rem;
  }

  .search-market-title, .search-market-description {
    display: inline;
  }

  .search-item-place {
    margin-top: 0.2rem;
  }

}

.search-market-price {
  color: #ff8a3d;
  font-weight: 600;
}

.favor {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 767.9px) {
  .favor {
    right: 1rem;
  }

}

.favor-text, .comment-text {
  font-size: 0.875rem;
}

.favor-icon {
  width: 13px;
}

.market-more-button, .local-more-button{
  border-top: 1px solid #e9ecef;
  color: #868e96;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-hr {
  display: none;
}

.search-local-item {
  position: relative;
  margin: 1.2rem 0;
}

@media (max-width: 767.9px) {
  .search-hr {
    margin: 0;
    height: 0.4rem;
    background-color: #f1f3f5;
    opacity: 1;
    border: 0;
  }

  .search-local-item {
    margin: 1rem;
  }
}

.search-local-item-place {
  margin-top: 0.2rem;
}

mark {
  color: #ff8a3d;
  background-color: #fffaee;
  padding: 0;
}

/* article page */
.article-main {
  margin-top: 6rem;
}

.article-slide-wrap {
  max-width: 729px;
  margin: 0 auto;
}

.article-image {
  max-width: 677px;
  height: 500px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.article-image .image {
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

@media (max-width: 767.9px) {
  .article-main {
    margin-top: 3.5rem;
  }

  .article-slide-wrap {
    max-width: 100%;
    margin: 0;
  }

  .article-image {
    margin: 0 auto;
    max-width: 100%;
    border-radius: 0;
  }

  .article-image .image {
    left: 50%;
    top: 50%;
  }
}

.carousel-item {
  transition: transform .6s ease;
}

.image-link-button {
  position: absolute;
  z-index: 99;
  display: none;
  border-radius: 0.25rem;
  background-color: rgba(0,0,0,.5);
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

.carousel-control-prev {
  left: -3rem;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/articles/icon-slider-left-4c0e713bfa2cd12bd959e6dd9ef456cd6fc094953c41e605f6b9a59bc1680686.svg);
  width: 11px;
  height: 21px;
}

.carousel-control-next {
  right: -3rem;
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/articles/icon-slider-right-134c53f44716c3bef227ec30da385b4b09c9c068d339a617a23093718f379d02.svg);
  width: 11px;
  height: 21px;
}

.carousel-indicators {
  max-width: 677px;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-radius: 8px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  margin: 0 0.25rem;
  border-radius: 50%;
  opacity: 0.3;
}

#jobPostsCarousel .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  margin: 0 0.25rem;
}

@media (max-width: 767.9px) {
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }

  .carousel-indicators {
    max-width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    margin: 0 0.5rem;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.article-user {
  max-width: 677px;
  margin: 0 auto;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e9ecef;
}

@media (max-width: 767.9px) {
  .article-user {
    max-width: 100%;
    margin: 0 1rem;
  }
}

.article-user-link {
  display: flex;
  justify-content: space-between;
}

.article-user-profile {
  display: flex;
}

.article-user-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.article-user-name {
  font-size: 0.95rem;
  font-weight: bold;
}

.article-user-place {
  font-size: 0.815rem;
}

.article-manner {
  position: relative;
  padding-right: 2.25rem;
}

@media (max-width: 767.9px) {
  .article-manner {
    padding: 0;
  }
}

.article-manner-temperature {
  width: 100px;
  margin: 0;
}

.article-manner-temperature dt {
  position: absolute;
  right: 0;
  top: 2.6rem;
  color: #868e96;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: -0.5px;
}

.article-manner-temperature dd {
  position: absolute;
  right: 2.25rem;
  bottom: 0.825rem;
  margin: 0;
  color: #319e45;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.5px;
}

.article-manner-meter {
  width: 100px;
  height: 4px;
  margin-top: 2rem;
  background-color: #e9ecef;
  border-radius: 150px;
}

@media (max-width: 767.9px) {
  .article-manner-temperature dt {
    top: 2.35rem;
  }

  .article-manner-temperature dd {
    left: 0;
  }

  .article-manner-meter {
    width: 50px;
    margin-top: 1.75rem;
  }
}

.article-manner-bar {
  height: 4px;
  width: 40%;
  background-color: #319e45;
  border-radius: 150px;
}

.article-manner-face {
  position: absolute;
  right: 0;
  top: 0.5rem;
  background: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/articles/face-icon-set@2x-0bece009c619b4706f52a750aca82448334aa3e39d353579f2ce9c365639a03b.png) no-repeat;
  background-size: 29px 147px;
  width: 24px;
  height: 24px;
  background-position: 0px -99px;
}

.article-description {
  max-width: 677px;
  margin: 0 auto;
  padding: 2.25rem 0;
  border-bottom: 1px solid #e9ecef;
}

@media (max-width: 767.9px) {
  .article-description {
    max-width: 100%;
    margin: 0 1rem;
    padding: 1.5rem 0;
  }
}

.article-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.article-category, .article-number {
  font-size: 0.815rem;
  color: #868e96;
}

.article-price {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.article-detail {
  margin: 1.2rem 0;
  font-size: 1.05rem;
}

.article-chat {
  display: none;
}

@media (max-width: 767.9px) {
  .article-detail {
    margin: 0.75rem 0 1rem 0;
    line-height: 1.6;
  }

  .article-chat {
    display: block;
    margin: 1.5rem 0;
    padding: 0.75rem;
    border: solid 1px #ff8a3d;
    border-radius: 50px;
    color: #ff8a3d;
    font-size: 1.06rem;
    text-align: center;
    font-weight: bold;
  }
}

.article-popular {
  max-width: 677px;
  margin: 0 auto;
  padding-top: 2.25rem;
}

.article-popular .article-title {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

@media (max-width: 767.9px) {
  .article-popular {
    max-width: 100%;
    margin: 1.5rem 1rem;
    padding: 0;
  }

  .article-popular .article-title {
    font-size: 1.06rem;
  }
}

.article-popular-top {
  display: flex;
  justify-content: space-between;
}

.article-link {
  font-size: 0.95rem;
  color: #ff8a3d;
}

.article-card-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card {
  width: calc(33% - 1rem);
  margin-right: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 767.9px) {
  .article-card {
    width: calc(50% - 1rem);
    margin-right: 0;
    margin-bottom: 1.85rem;
  }
}

.article-card .card-img-top {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* job-posts page */
.jp-main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5.5rem 1rem;
}

@media (max-width: 767.9px) {
  .jp-main {
    padding: 3rem 0 0 0;
  }
}

.jp-slide-wrap {
  width: 100%;
}

.jp-slide-wrap:hover .image-link-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#jobPostsCarousel .carousel-indicators {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 0.25rem;
  background: linear-gradient(0deg,rgba(0,0,0,.5),hsla(0,0%,100%,0) 20%);
  border-radius: 0.75rem;
}

#jobPostsCarousel .carousel-indicators button {
  align-self: end;
}

.jp-image {
  height: 468px;
  overflow: hidden;
  border-radius: 0.75rem;
}

.jp-image .image, .jp-nearby-image .image {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (max-width: 767.9px) {
  .jp-image {
    height: auto;
    border-radius: 0;
  }

  .jp-image .image {
    transform: none;
    height: 100%;
    object-fit: cover;
  }
}

.jp-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 1.5rem 0;
  border-bottom: solid 1px #dcdee3;
}

.jp-user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.16);
}

.jp-user-info {
  margin-left: 0.8rem;
}

.jp-user-name {
  font-size: 1.125rem;
  font-weight: bold;
}

.jp-user-place {
  font-size: 0.875rem;
}

@media (max-width: 767.9px) {
  .jp-user {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  .jp-user-image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .jp-user-info {
    margin-left: 0.6rem;
  }

  .jp-user-name {
    font-size: 1rem;
    line-height: 1.3;
  }

  .jp-user-place {
    font-size: 0.825rem;
  }
}

.jp-manner-top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.jp-manner-temperature-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #009ceb;
}

@media (max-width: 767.9px) {
  .jp-manner-top {
    margin-bottom: 0.5rem;
  }

  .jp-manner-temperature-text{
    font-size: 1.125rem;
  }
}

.jp-manner-temperature-bar {
  width: 100%;
  height: 0.25rem;
  background: #eaebee;
  border-radius: 0.25rem;
}

.jp-manner-temperature-inner-bar {
  background: #009ceb;
  border-radius: 0.25rem;
  width: 36.7%;
  height: 0.25rem;
}

.jp-manner-bottom {
  font-size: 0.8rem;
  text-align: end;
  color: #868b94;
}

@media (max-width: 767.9px) {
  .jp-manner-bottom {
    font-size: 0.75rem;
  }
}

.jp-header {
  max-width: 100%;
  padding: 2rem 0;
}

.jp-title, .rp-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.jp-time, .jp-nearby-place, .cp-count, .bp-old-address {
  color: #868b94;
  font-size: 0.875rem;
}

.jp-info {
  margin-bottom: 3.5rem;
}

.jp-info .jp-title, .rp-info .rp-title {
  font-size: 1.25rem;
  padding: 1rem 0;
  margin: 0;
}

@media (max-width: 767.9px) {
  .jp-header {
    margin: 0 1rem;
    padding: 1.5rem 0;
  }

  .jp-title, .rp-title {
    font-size: 1.125rem;
  }

  .jp-time, .jp-nearby-place, .cp-count {
    font-size: 0.825rem;
  }

  .jp-info {
    padding: 0 1rem 1rem;
    margin-bottom: 0.5rem;
  }

  .jp-info .jp-title, .rp-info .rp-title {
    font-size: 1rem;
  }
}

.jp-info-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.65rem 0;
}

.jp-pay {
  font-weight: bold;
}

.map {
  height: 198px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0.75rem;
}

.jp-address {
  margin-top: 0.5rem;
}

.jp-pay, .jp-place, .jp-workday, .jp-worktime, .jp-detail, .jp-address {
  font-size: 1.125rem;
}

@media (max-width: 767.9px) {
  .jp-info-item {
    padding: 0.75rem 0;
  }

  .jp-pay, .jp-place, .jp-workday, .jp-worktime, .jp-detail, .jp-address {
    font-size: 1rem;
  }
}

.jp-detail {
  white-space: pre-line;
  line-height: 1.35;
}

.jp-nearby-item {
  padding-bottom: 2.5rem;
  max-width: 48%;
  min-width: 48%;
}

@media (max-width: 767.9px) {
  .jp-nearby-item {
    max-width: 100%;
    min-width: 100%;
    padding: 1rem 0;
  }
}

.jp-nearby-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jp-nearby-image {
  min-width: 6.75rem;
  max-width: 6.75rem;
  height: 6.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (max-width: 767.9px) {
  .jp-nearby-image {
    min-width: 6rem;
    max-width: 6rem;
    height: 6rem;
  }
}

.jp-nearby-link {
  display: flex;
}

.jp-nearby-info {
  margin-left: 1rem;
}

.jp-nearby-title {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 767.9px) {
  .jp-nearby-title {
    font-size: 1rem;
  }
}

.jp-button-wrap {
  display: none;
}

@media (max-width: 767.9px) {
  .jp-button-wrap {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem 1rem;
    background-color: white;
    z-index: 999;
  }

  .jp-button {
    background-color: #ff6f0f;
    width: 100%;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.85rem 1rem;
    border-radius: 0.4rem;
  }
  
}

/* chat page */
.chat-navdiv {
  border-bottom: 1px solid #ebecef;
}

.chat-main {
  background-color: #f2f3f6;
  padding-top: 4rem;
  overflow: hidden;
}

.chat-content {
  background-color: #fff;
  width: 1080px;
  margin: 0 auto;
  padding: 11.5rem 2rem 19rem;
  display: flex;
}

.chat-qr-left {
  margin-right: 3rem;
}

.chat-title {
  font-size: 2.125rem;
  font-weight: bold;
}

.chat-subtitle {
  font-size: 1.125rem;
  margin-top: 1rem;
}

.chat-description {
  margin: 2rem 0;
  color: #4d5159;
}

.chat-description-order {
  padding-left: 1rem;
  margin: 0.75rem 0;
}

.chat-description-order li {
  list-style: decimal;
  margin: 0;
}

.chat-description .chat-title {
  font-size: 1rem;
}

.chat-info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #868b94;
}

.chat-link {
  color: #868b94;
  font-weight: bold;
  text-decoration: underline;
}

.chat-info svg {
  fill: rgb(173, 177, 186);
}

.chat-qr {
  width: 462px;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaebee;
  border-radius: 1.75rem;
}

.chat-qr img {
  width: 220px;
  height: 220px;
}

.chat-footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #ebecef;
  width: 100%;
}

.chat-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 66px;
  margin: 0 auto;
  font-size: 0.825rem;
  font-weight: bold;
  color: #868b94;
}

.chat-footer-left {
  display: flex;
}

/* realty-post page */
.rp-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.rp-badge {
  font-size: 0.75rem;
  border: 1px solid black;
  padding: 0.05rem 0.15rem;
  border-radius: 0.15rem;
}

.rp-type {
  font-size: 0.875rem;
}

.rp-status {
  color: #ff6f0f;
  margin-right: 0.4rem;
}

.rp-info {
  margin-bottom: 2.5rem;
}

.rp-info-list {
  font-size: 1.125rem;
  margin: 0.825rem 0 0 0;
}

@media (max-width: 767.9px) {
  .rp-info {
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
  }

  .rp-info-list {
    font-size: 1rem;
  }
}

.rp-list-left {
  display: inline-block;
  color: #868b94;
  width: 7rem;
}

.rp-list-right-bold {
  font-weight: bold;
}

/* car-post page */
.cp-count {
  margin-top: 1rem;
}

.cp-info-list, .cp-option-list {
  display: flex;
  align-items: center;
  margin: 0 0 0.825rem 0;
  font-size: 1.125rem;
}

@media (max-width: 797.9px) {
  .cp-info-list, .cp-option-list {
    font-size: 1rem;
  }
}

.cp-list-left {
  min-width: 11.5rem;
  color: #868b94;
}

.modal {
  --bs-modal-width: 22.5rem;
}

.modal-header {
  flex-direction: column;
  padding: 1.5rem;
  border: 0;
}

.modal-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#carPostModal .btn-close {
  opacity: 0.3;
}

.modal-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.modal-header-text {
  margin-top: 0.75rem;
  color: #4d5159;
  line-height: 1.35;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #f7f8fa;
}

.modal-image {
  width: 178px;
  height: 178px;
  padding: 0.5rem;
  background-color: #ffffff;
}

.cp-button {
  width: 100%;
  font-weight: bold;
  font-size: 1.125rem;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.cp-button:hover {
  background-color: #dcdee3;
}

@media (max-width: 767.9px) {
  .cp-button {
    font-size: 0.875rem;
    padding: 0.6rem;
  }
}

.cp-option-list{
  margin: 0 0 0.3rem 0;
}

.cp-option-right {
  margin-left: 1rem;
}

.cp-supplement {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cp-supplement-list {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #eaebee;
  border-radius: 2rem;
  font-size: 0.875rem;
}

.cp-supplement-list:hover {
  background-color: #f2f3f6;
  cursor: pointer;
}

@media (max-width: 767.9px) {
  .cp-supplement-list {
    padding: 0.4rem 0.75rem;
    font-size: 0.8rem;
  }
}

/* business-profiles page */
.bp-main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5.5rem 1rem 5rem;
}

.bp-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.bp-user-image {
  width: 3rem;
  height: 3rem;
  border: 0;
}

.bp-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.75rem;
}

.bp-user-name {
  font-size: 0.875rem;
  font-weight: bold;
}

.bp-user-place {
  font-size: 0.825rem;
  color: #868b94;
}

.bp-user .ns-badge {
  border: 0;
  font-size: 0.875rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s;
}

.bp-user .ns-badge:hover {
  background-color: #fa6616;
}

.bp-user-menu {
  display: flex;
}

.bp-user-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.bp-user-menu-item-text {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.bp-tab {
  display: flex;
  margin: 0;
}

.bp-tab li {
  flex-grow: 1;
  margin: 0;
  text-align: center;
  font-size: 1.125rem;
}

.bp-tab-button {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  background-color: #ffffff;
  font-weight: bold;
  color: #868b94;
}

.bp-tab-button.active {
  color: black;
  border-bottom: 2px solid black;
}

.bp-content {
  margin-top: 1.5rem;
}

#button-all {
  padding: 1.5rem 0 5rem;
}

.bp-tab-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.bp-store-detail {
  font-size: 1.125rem;
  line-height: 1.35;
}

.bp-store-place {
  margin-top: 1rem;
}

.bp-store-info-text {
  display: flex;
  align-items: flex-start;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.bp-icon {
  margin-right: 1rem;
}

.bp-old-address {
  margin-top: 0.5rem;
}

#button-all .cp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.cp-button .bp-icon {
  margin-right: 0.25rem;
  display: flex;
}

.bp-tab-content {
  margin-top: 5rem;
}

.bp-tab-content .bp-review {
  border: none;
  padding: 0;
}

#review-more-btn {
  background-color: #ff6f0f24;
  color: #ff6f0f;
}

.bp-thumbnail {
  overflow: hidden;
  border-radius: 0.375rem;
  position: relative;
}

.bp-thumbnail-img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bp-mini-post-image {
  width: 4.5rem;
  height: 4.5rem;
}

.bp-coupon {
  border: 1px solid #ff9e66;
  border-radius: 0.5rem;
}

.bp-coupon-text {
  padding: 1rem;
}

#button-post, #button-review {
  padding: 1.5rem 0 5rem;
}

.bp-post {
  border: 1px solid #eaebee;
  border-radius: 0.375rem;
}

.bp-post-wrapper {
  padding: 1rem;
}

.bp-post-content {
  margin-top: 1rem;
}

.bp-post-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.bp-post-detail {
  font-size: 1.125rem;
  line-height: 1.3;
  white-space: pre-line;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bp-post-reaction-group {
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
  padding: 0.75rem;
  border-top: 1px solid #eaebee;
}

.bp-post-reaction {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  border: none;
  background-color: transparent;
  color: #4d5159;
  font-size: 0.875rem;
  line-height: 1.4;
}

.bp-post-reaction svg {
  color: #868b94;
}

.bp-review-list {
  margin-top: 0.5rem;
}

.bp-review-item {
  margin: 1.25rem 0 0 0;
}

.bp-review-item:nth-child(1) {
  margin: 0;
}

.bp-review {
  border: 1px solid #eaebee;
  border-radius: 0.375rem;
  padding: 1rem;
}

.bp-review-detail {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.3;
  word-wrap: break-word;
  white-space: pre-line;
}

.bp-review-image-group {
  display: flex;
  height: 25rem;
  margin-top: 1rem;
}

.bp-review-image-right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
  margin-left: 0.25rem;
}

.additional {
  z-index: 1;
  background-color: #00000033;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bp-review-badge-group {
  margin-top: 0.5rem;
}

.bp-review-badge {
  background-color: #f2f3f6;
  color: #4d5159;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 0.125rem 0.25rem;
}

.bp-review-reaction {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  color: #868b94;
}