@media (max-width: 767.9px){
  .nav-con {
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }

  .brand {
    flex-grow: 1;
  }

  .navbar-toggler {
    border: 0;
    margin-right: 0;
  }

  .navbar-search-toggler {
    display: none;
  }

  .main {
    padding-top: 3.5rem;
  }
  
  .home-image-top {
    max-width: 328px;
    margin: 0 auto;
  }

  .home-text {
    padding-top: 2rem;
    text-align: center;
  }

  .home-first-content, .home-mid-content {
    width: 100%;
  }

  .home-first .home-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .home-title {
    font-weight: 600;
    line-height: 1.3;
    margin: 2.4rem 0 1rem;
  }

  .home-title, .home-popular-title {
    font-size: 1.8rem;
  }

  .home-subtext {
    margin-bottom: 1.2rem;
  }

  .home-button {
    padding: 10px 20px;
    font-size: 18px;
  }

  .home-mid {
    width: 100%;
    padding: 3.8rem 0 2rem;
  }

  .home-mid-content {
    text-align: center;
  }

  .home-mid .home-image-top {
    margin: 0;
  }

  .home-main-image-02, .home-main-image-03 {
    max-width: 328px;
  }

  .home-popular-title {
    font-weight: bold;
    margin: 4rem auto 3rem;
  }
  
  .home-popular-content {
    margin: 4rem auto 2rem;
  }

  .row-cols-2>* {
    width: 45%;
  }

  .col {
    padding: 0;
    margin-bottom: 3rem;
  }

  .home-topic {
    margin: 1.5rem auto;
  }

  .home-topic-list {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .card-title, .card-price, .ns-review-store-name {
    font-size: 0.9rem;
  }

  .card-title {
    margin-top: 0.5rem;
  }

  .footer-content {
    padding: 0 1rem;
  }

  .footer-top, .ns-footer-top {
    padding: 2.5rem 0;
    flex-direction: column-reverse;
  }

  .footer-list-group {
    justify-content: space-around;
    margin-top: 2rem;
  }

  .footer-list {
    width: 30%;
  }

  .footer-app {
    text-decoration: none;
    margin-left: 1.5rem;
  }

  .footer-info {
    font-size: 0.5rem;
  }
  
  .footer-info span {
    line-height: 1;
  }
  
  .ns-first {
    height: 18.5rem;
  }

  .ns-first .ns-content {
    padding: 1.5rem 0.5rem 1rem;
  }

  .ns-content {
    padding: 1.5rem 1rem 1rem;
  }

  .ns-title {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .ns-first-image {
    width: 293px; 
    height: 168px;
    left: 50%;
    transform: translate(-42%);
  }

  .ns-mid-button {
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .ns-store-name {
    font-size: 1rem;
  }

  .ns-store-info {
    font-size: 0.9rem;
  }
  
  .thumbnail-image {
    width: 4rem;
    height: 4rem;
  }

  .ns-store-item, .ns-review-group {
    width: 100%;
  }

  .md-bb {
    border-bottom: 1px solid #eaebee;
  }

  .ns-mid-bottom {
    margin-top: 4.6rem;
  }

  .ns-mid-bottom .ns-title {
    margin-bottom: 1.5rem;
  }

  .ns-user-id {
    font-size: 0.86rem;
  }

  .ns-badge {
    font-size: 0.6rem;
  }

  .ns-text-info {
    font-size: 0.75rem;
  }

  .ns-review-detail {
    font-size: 0.9rem;
    padding-top: 0.4rem;
  }

  .ns-business {
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding: 1.8rem 1.5rem;
  }

  .ns-business-text {
    justify-content: center;
    padding-bottom: 1rem;
  }

  .ns-business-text, .ns-business-text h5 {
    font-size: 1rem;
    font-weight: bold;
  }

  .ns-business .ns-badge {
    margin: 0;
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }

  .ns-footer-list-group {
    margin-top: 0.5rem;
  }

  .ns-footer-list {
    width: 26%;
  }

  .ns-footer-list .home-topic-link {
    font-size: 0.8rem;
  }

}


@media (min-width: 768px) and (max-width: 992px) {
  .navbar-search-toggler {
    display: inline-block !important;
    border: 0;
  }

  .navbar-search {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: wrap;
  }

  .main {
    padding-top: 4rem;
  }
  
  .home-image-top {
    width: 813px;
  }
  
  .home-text {
    min-width: 333px;
    padding-top: 14rem;
  }

  .home-first-content {
    min-height: 726px;
    margin: 0 auto;
  }

  .home-first .home-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .home-mid-content, .home-popular-content, .home-topic {
    max-width: 1024px;
  }

  .home-title {
    font-weight: 600;
    line-height: 1.3;
  }

  .home-subtext, .home-title {
    margin-bottom: 28px;
  }

  .home-button {
    padding: 14px 24px;
    font-size: 18px;
  }

  .home-mid {
    min-height: 854px;
    padding: 4rem 0;
  }


  .home-main-image-01 {
    width: 532px;
    height: 684px;
  }

  .home-main-image-02 {
    max-width: 546px;
  }

  .home-main-image-03 {
    width: 526px;
    height: 735px;
  }

  .home-popular-title {
    font-weight: bold;
    margin: 4rem auto 5rem;
  }
  
  .home-popular-content {
    margin: 4rem auto 5rem;
  }

  .row-cols-md-4>* {
    flex: 0 0 auto;
    width: calc(25% - 44px);
  }

  .col {
    padding: 0;
    margin-right: 52px;
    margin-bottom: 3.5rem;
  }

  .home-topic {
    margin: 2.5rem auto;
  }

  .home-topic-list {
    margin-left: 4rem;
    justify-content: space-between;
  }

  .card-title {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .footer-top {
    padding: 2.6rem 0;
  }
  
  .footer-list {
    margin-right: 1rem;
  }

  .ns-first {
    height: 20rem;
  }

  .ns-first .ns-content {
    padding: 3.2rem 0rem 4.2rem;
  }

  .ns-content {
    padding: 3.2rem 1rem 4.2rem;
  }

  .ns-title {
    font-size: 2rem;
    line-height: 1.5;
  }

  .ns-first-image {
    right: 0;
    width: 453px; 
    height: 260px;
  }

  .ns-mid-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .ns-store-item {
    width: calc(50% - 32px);
  }

  .ns-store-name {
    font-size: 1.1rem;
  }

  .thumbnail-image {
    width: 5rem;
    height: 5rem;
  }

  .ns-review-group {
    width: calc(50% - 8px);
  }

  .ns-mid-bottom {
    margin-top: 6rem;
  }

  .ns-mid-bottom .ns-title {
    margin-bottom: 2rem;
  }
  
  .ns-badge {
    font-size: 0.75rem;
  }

  .ns-text-info {
    font-size: 0.8rem;
  }

  .ns-review-detail {
    padding-top: 0.2rem;
  }

  .ns-business {
    margin-top: 3.8rem;
    padding: 1.5rem 1.8rem;
  }
  
  .ns-business-text {
    justify-content: center;
    padding-left: 2rem;
  }
  
  .ns-business .ns-badge {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .ns-footer-top{
    justify-content: space-between;
    padding: 2rem 0;
  }

}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p, .ns-review-group {
  margin: 0;
}

a {
  color: black;
}

li {
  list-style: none;
  margin: 0.9rem;
}

ul {
  padding: 0;
}

.font-small {
  font-size: 14px;
}

.font-xs {
  font-size: 13px;
  line-height: 1.6;
}

.bg-green {
  background-color: #e6f3e6;
}

.bg-gray {
  background-color: #f8f9fa;
}

.bg-beige {
  background-color: #fbf7f2;
}

.bg-dark-beige {
  background-color: #f7f1eb;
}

.color-gray {
  color: #868B94;
}

.navdiv {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 4rem; */
  background-color: white;
  z-index: 3;
}

.navbar {
  padding: 0.6rem 0;
  max-width: 74rem;
  margin: 0 auto;
}

.nav-con {
  width: 100%;
  padding: 0 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: initial;
}

.navbar-toggler {
  padding: 0 0.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.brand, .thumbnail-image {
  margin-right: 1rem;
}

.nav-item {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0.8rem;
}

#navbarSupportedContent, .ns-business-text {
  flex-grow: 1;
}

#navbarSearchContent {
  flex-grow: 0;
}

.navbar-expand-md .navbar-nav .nav-link, .nav-link, .card-body {
  padding: 0;
}

.navbar-nav {
  flex-wrap: wrap;
}

.nav-link {
  color: #4d5159 !important;
}

.nav-link:hover {
  color: #868b94 !important;
}

.nav-link.active {
  color: #ff6f0f !important;
}

input, .form-control {
  width: 288px;
  height: 40px;
  border: 0;
  background-color: #F2F3F6;
}

input {
  border-radius: 7px;
  padding-left: 12px;
  margin-right: 12px;
}

input:focus {
  outline: none;
}

.chat {
  border: #d1d3d8 solid 1px;
  font-weight: bold;
  border-radius: 4.4px;
  width: 6.2rem;
}

.chat:hover {
  border: #d1d3d8 solid 1px;
  background-color: #f2f3f6;
}

.home-first-content {
  justify-content: center;
  flex-shrink: 1;
}
.home-image-top, .home-main-image-01, .home-main-image-02 {
  overflow: hidden;
}

.home-first .home-image-top {
  align-self: flex-end;
}

.home-image-top img, .home-main-image-01 img, .home-main-image-02 img, .home-main-image-03 img {
  width: 100%;
  height: auto;
}

.home-mid-content {
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.home-button, .footer-button, .footer-button:hover {
  background-color: #f1f3f5;
  font-weight: bold;
}

.home-button:hover {
  background-color: #e9ecef;
}

.home-town {
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}

.home-town-item {
  max-width: 8.6rem;
  margin-right: 3rem;
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-img-top {
  border-radius: 12px;
}

.card-title, .card-price, .card-location {
  margin-bottom: 0.2rem;
}

.card-number {
  color: #868e96;
}

.home-topic-list, .ns-store, .ns-review {
  display: flex;
  flex-wrap: wrap;
}

.home-topic-link, .footer-link, .ns-store a, .ns-review a {
  text-decoration: none;
}

.home-topic-link:hover, .footer-link:hover {
  text-decoration: underline;
}

.home-footer, .footer-bottom, .bt {
  border-top: 1px solid #eaebee;
}

.footer-content {
  max-width: 48rem;
  margin: 0 auto;
}

.footer-top, .footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-list, .ns-business-text {
  display: flex;
  flex-direction: column;
}

.footer-button-group, .ns-business-content {
  display: flex;
}

.footer-button {
  width: 147px;
  height: 44px;
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button:hover {
  opacity: 0.5;
}

.footer-bottom {
  align-items: flex-start;
  padding-top: 1.4rem;
  padding-bottom: 5.6rem;
}

.footer-sns {
  display: inline-flex;
}

.footer-sns .bi {
  font-size: 22px;
}

.bi:hover, .chat:hover {
  opacity: 0.7;
}

.footer-sns a {
  margin-right: 0.5rem;
  line-height: 1;
}

.dropdown-toggle::after {
  border: 0;
}

.footer-info, .ns-review-group {
  margin-bottom: 0.8rem;
}

.footer-link {
  margin-right: 0.8rem;
}

/* nearby_store */

.ns-content {
  max-width: 48rem;
  height: 100%;
  margin: 0 auto;
}

.ns-first .ns-content {
  position: relative;
}

.ns-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.ns-image {
  width: 100%;
}

.ns-first-image {
  position: absolute;
  bottom: 0;
}

.ns-text {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.ns-mid {
  margin: 1rem 0;
}

.ns-mid .ns-title {
  text-align: center;
  margin-bottom: 1rem;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-x::-webkit-scrollbar {
  /* 스크롤바 숨기기 */
  display: none;
}

.ns-mid-group, .ns-store-group {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.ns-mid-group li {
  margin: 0 0.3rem;
}

.ns-mid-button {
  border: 1px solid #eaebee;
  border-radius: 25px;
  background-color: transparent;
}

.ns-mid-button.active {
  border-color: #4d5159;
  background-color: #4d5159;
  color: white;
}

.ns-mid-button.active:hover {
  background-color: #4d5159;
}

.ns-mid-button:hover {
  background-color: #f2f3f6;
}

.ns-store-info, .ns-review-detail {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.ns-store-info-group {
  width: 100%;
}

.ns-store-group {
  padding: 1.5rem 0rem;
  line-height: 1.3;
}

.thumbnail-image {
  border: 1px solid #0000000d;
  border-radius: 50%;
}

.ns-store-name {
  font-weight: bold;
}

.ns-text-info {
  color: #868B94;
}

.ns-user, .ns-review-store-info {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
}

.ns-user-id {
  font-weight: bold;
}

.ns-badge {
  background-color: #ff6f0f;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.1rem 0.28rem;
  margin-left: 0.3rem;
  line-height: 1.5;
}

.ns-review-item, .ns-review-store {
  border: 1px solid #eaebee;
  border-radius: 7px;
}

.ns-review-item {
  padding: 1rem;
}

.ns-review-thumbnail {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  overflow: hidden;
}

.ns-review-store {
  display: flex;
  margin-top: 1rem;
}

.ns-review-store-image {
  width: 4rem;
  height: 4rem;
}

.ns-review-store-info {
  justify-content: center;
}

.ns-business {
  background-color: #f7be6824;
  border-radius: 7px;
}

.ns-business .ns-badge {
  text-decoration: none;
  border-radius: 5px;
}

.ns-footer-top{
  display: flex;
}

.ns-footer-list {
  margin-bottom: 0;
  margin-right: 1.2rem;
}

.ns-footer-item {
  margin: 0.9rem 1.5rem 0.9rem 0;
}