@media (min-width: 768px){
.row-cols-md-4>* {
    flex: 0 0 auto;
    width: calc(25% - 44px);
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  margin: 0;
}

a {
  color: black;
}

li {
  list-style: none;
  margin: 0.9rem;
}

ul {
  padding: 0;
}

.font-small {
  font-size: 14px;
}

.font-xs {
  font-size: 13px;
  line-height: 1.6;
}

.bg-green {
  background-color: #e6f3e6;
}

.bg-gray {
  background-color: #f8f9fa;
}

.color-gray {
  color: #868B94;
}

.navdiv {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: white;
  z-index: 3;
}

.navbar {
  padding: 12px 0;
}

.nav-con {
  display: flex;
  align-items: center;
  /* width: 1200px; */
  margin: auto;
}

.brand {
  margin-right: 40px;
}

.nav-item {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0.8rem;
}

.nav-item a, .card-body {
  padding: 0;
}

.nav-link {
  color: #4d5159 !important;
}

.nav-link.active {
  color: #ff6f0f !important;
}

input, .form-control {
  width: 288px;
  height: 40px;
  border: 0;
  background-color: #F2F3F6;
}

input {
  border-radius: 7px;
  padding-left: 12px;
  margin-right: 12px;
}

input:focus {
  outline: none;
}

.chat {
  border: #d1d3d8 solid 1px;
  font-weight: bold;
  border-radius: 4.4px;
  width: 6.2rem;
}

.chat:hover {
  border: #d1d3d8 solid 1px;
  background-color: #f2f3f6;
}

.home-first {
  background-color: #fbf7f2;
  height: 780px;
}

.home-first-content {
  width: 1320px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
}

.home-text {
  padding-top: 18rem;
}

.home-first .home-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.home-image-top {
  width: 804px;
  height: 685px;
  align-self: flex-end;
  margin-left: 3rem;
}

.home-image-01 {
  width: 532px;
  height: 684px;
}

.home-mid {
  padding: 4rem 0;
}

.home-mid-content, .home-popular-content, .home-topic {
  width: 1024px;
}

.home-mid-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  font-weight: 600;
  line-height: 1.3;
}

.home-button, .footer-button, .footer-button:hover {
  background-color: #f1f3f5;
  font-weight: bold;
}

.home-button {
  padding: 14px 24px;
  font-size: 18px;
}

.home-button:hover {
  background-color: #e9ecef;
}

.home-subtext, .home-title {
  margin-bottom: 28px;
}

.home-main-image-02 {
  width: 546px;
  height: 740px;
}

.home-town {
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}

.home-town-item {
  margin-right: 2.8rem;
}

.home-main-image-03 {
  width: 526px;
  height: 735px;
}

.home-popular-title {
  font-weight: bold;
  margin: 4rem auto 5rem;
}

.home-popular-content {
  margin: 4rem auto 5rem;
}

.col {
  padding: 0;
  margin-right: 52px;
  margin-bottom: 3.5rem;
}

.card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-img-top {
  border-radius: 12px;
}

.card-title {
  margin-top: 1rem;
}

.card-title, .card-price, .card-location {
  margin-bottom: 0.2rem;
}

.card-number {
  color: #868e96;
}

.home-topic {
  margin: 2.5rem auto;
}

.home-topic-list {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.home-topic-link, .footer-link {
  text-decoration: none;
}

.home-topic-link:hover, .footer-link:hover {
  text-decoration: underline;
}

.home-footer, .footer-bottom {
  border-top: 1px solid #eaebee;
}

.footer-content {
  width: 48rem;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 2.6rem 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.footer-button {
  width: 147px;
  height: 44px;
  margin-top: 0.6rem;
}

.footer-button:hover {
  opacity: 0.5;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.4rem;
  padding-bottom: 5.6rem;
}


.footer-sns {
  display: inline-flex;
}

.footer-sns .bi {
  font-size: 22px;
}

.bi:hover, .chat:hover {
  opacity: 0.7;
}

.footer-sns a {
  margin-right: 0.5rem;
  line-height: 1;
}

.dropdown-toggle::after {
  border: 0;
}

.footer-info {
  margin-bottom: 0.8rem;
}

.footer-link {
  margin-right: 0.8rem;
}