/* 믿을 수 있는 중고거래 관련 style 설정 */
.trust__sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.trust__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trust__desc-img {
    align-items: center;
}
.text__drag::selection {
    background-color: #FFB98B;
}
/* 인기 검색어 관련 style 설정 */
.topky__main {
    display: flex;
    height: 850px;
    flex-direction: column;
    align-items: center;
}
.topky__section {
    width: 430px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.topky__title {
    font-weight: bold;
}
.rank {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-bottom: 2px solid #F8F9FA;
}
.rank:hover {
    background-color: #F8F9FA;
}
.topky__rank-num {
    font-size: large;
    font-weight: bold;
}
.topky__item {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.topky__item-name:hover {
    text-decoration: underline;
}

/* 색상 관련 style 설정 */
.bg-lightgray {
    background-color: #F8F9FA;
}
.text-orange {
    color: orange;
}